<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Walker &amp; Dunlop Investment Sales</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.wdinvestorportal.com/">Available Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.walkerdunlop.com/services/investment-sales">Contact</a>
      </li>
    </ul>
  </nav>