<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <div>
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> <dotlottie-player src="https://lottie.host/81e7247f-aae2-4c28-bdd2-7ff5bbede97a/HsJNIbYP4a.json" background="transparent" speed="1" style="width: 72px; height: 72px; margin-bottom: 48px;" loop autoplay></dotlottie-player>
    </div>
    <h1>Thank you for downloading the W&D Market Intelligence Report.</h1>
    <p><em>If your download doesn't start automatically, please click below.</em></p>
    <a id="pdfDownload" download="W&D Market Intelligence Report" class="btn btn-primary btn-large" role="button" href="<%= watermarkedPdf %>" target="_blank">Download</a>
  </div>
</main>
<script>
  window.onload = function() {
    document.getElementById('pdfDownload').click();
  }
</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>